.section {
  display: flex;
  flex-wrap: wrap;
}

.row.section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 20px;
}

.col-6.section {
  flex: 0 0 50%;
  width: calc(6 / 12 * 100%);
}

@media only screen and (max-width: 768px) {
  .row.section {
    padding-top: 5px;
  }

  .col-6.section {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-6.section.order-2 {
    order: 2;
  }

  .col-6.section.order-1 {
    order: 1;
  }
}
