<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-m-12">
        <div class="footer__inner">

          <div class="footer__head">
            <div class="row">
              {% include footer-widgets/widget-recent-posts.html %}
              {% include footer-widgets/widget-gallery.html %}
              {% include footer-widgets/widget-subscribe.html %}
            </div>
          </div>
        </div>

        <!-- {% include social-link.html %} -->

        <div class="copyright">{{site.time | date: '%Y'}} &copy; <a href="/">{{site.title}}</a>

        <nav class="main-nav justify-content-center">
          <div class="main-nav__box">
            <ul class="nav__list list-reset">
              <li class="nav__item">
                <a href="{{ site.baseurl }}/disclaimer" class="nav__link">Disclaimer</a>
              </li>
              <li class="nav__item">
                <a href="{{ site.baseurl }}/privacy-policy" class="nav__link">Privacy Policy</a>
              </li>
              <li class="nav__item">
                <a href="{{ site.baseurl }}/terms-of-service" class="nav__link">Terms of Service</a>
              </li>
              <li class="nav__item">
                <a href="{{ site.baseurl }}/affiliate-discloser" class="nav__link">Affiliate Discloser</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
