---
layout: default
---

{% include hero.html %}
<style>
.hero__image {
  position: relative;
  z-index: 10;
  width: unset !important;
  height: unset !important;
  margin: 0 auto;
}
.hero__image::before {
  content: none !important;
  display: block;
}
.hero__image::after {
  content: none !important;
}
.hero__right .hero__image img {
  position: static !important;
}
</style>

<!-- begin post -->
<div class="container">
  <article class="post animate">

    <div class="post__content">
      {{ content }}
    </div>

    {% include share.html %}

    {% include post-navigation.html %}

    {% if site.disqus-identifier %} {% include disqus-comments.html %} {% endif %}

  </article>
</div>
<!-- end post -->